@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 500ms ease-in-out;
}

@keyframes rollout {
  0% {
    transform: translateY(-400px);
  }
  100% {
    transform: translateY(0);
  }
}

.roll-out {
  animation: 2s rollout;
}
