:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.0625rem;

  color-scheme: light;
  color: black;
  background: #f3f0ec;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* custom colors */
  --font-gray: #918d8a;
  --border-gray: #e9dfd7;
}

@import 'tailwindcss';
